{% extends 'admin_template/adminbase.html' %}
{% load static %}
{% block title %}teacher Home page{% endblock %}
{% block content %}
<style>
  #table-links a{
    padding-left: 20px;
    
  }
  input:focus{
    background-color: red;
  }
</style>
<main class="">
    <section class="allsudents">
        <div class="row">
           <div class="col s12 m12">
             >> manager
           </div>
           {% for message in messages %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endfor %}
        </div>
         <div class="row">
            <div class="col s8 m8">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for student.." title="Type in a name" autocomplete="off">
            </div>
            <div class="col s4 m4">
                  <div class="button-add-student center-align">
                    <a class="btn-floating waves-effect waves-light teal" href="{% url 'parachapp:create_teacher' %}"><i class="large material-icons">add</i></a>
                  </div>
            </div>
          </div>
         
      <div class="table">
        <div class="row">
          <div class="col s12 m12">
            <table class="" id="myTable">
              <thead>
                <tr>
                    <th>id</th>
                    <th>photo</th>
                    <th>Name</th>
                    <th>gender</th>
                    <th>course</th>
                    <th>phone</th>
                    <th>email</th>
                    <th class="left-align">View | Update | Delete</th>
                </tr>
              </thead>
          {% for teachers in teacher %}
          <tbody>
                <tr>
                  <td>#{{teachers.pk}}</td>
                  <td><img src="{{teachers.profile_pic.url}}" alt=""></td>
                  <td >{{teachers.firstname}}</td>
                  <td>{{teachers.gender}}</td>
                  <td>{{teachers.course.name}}</td>
                  <td>{{teachers.mobile_phone}}</td>
                  <td>{{teachers.email}}</td>
                  <td id="table-links">
                      
                              <a href="{% url 'parachapp:teacher_details' teachers.pk %}"><i class="fas fa-eye" style="color: #009688;"></i></a>
                              <a href="{% url 'parachapp:teacher_updates' teachers.pk %}"><i class="fas fa-edit" style="color: #009688;"></i></a>
                              <a href="{% url 'parachapp:teacher_delete' teachers.pk %}"><i class="fas fa-trash" style="color: coral;"></i></a>
                         
                  </td>
                </tr>
              </tbody>
          {% endfor %}
              
            </table>
          </div>
        </div>
      </div>
                
    </section>
</main>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");

    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>
{% endblock %}
